<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="body">
			<p:outputPanel id="authPanel">
				<h:form id="authForm" prependId="false" binding="#{auth.authForm}">
					<ui:fragment rendered="#{sessionState.loggedIn == false}">
						<h2>Cervisium Login</h2>
						<p:messages id="authFormMessages" for="authForm" showDetail="false" />
						<p:panel>
							<h:panelGrid columns="3" cellspacing="3" style="margin-bottom:16px;">
								<p:outputLabel for="email" value="Email: " />
								<p:inputText id="email" value="#{auth.email}" style="width:400px;" />
								<p:message for="email" />
								
								<p:outputLabel for="password" value="Password: " />
								<p:password id="password" value="#{auth.password}" style="width:400px;" />
								<p:message for="password" />
							</h:panelGrid>
							
							<p:commandButton id="loginButton" value="Login" action="#{auth.login}" update=":authPanel, :userPanelOutput" />
						</p:panel>
					</ui:fragment>
				</h:form>
				
					
				<ui:fragment rendered="#{sessionState.loggedIn == true}">
					<div class="biggerText"><p>You are logged in as <h:outputText value="#{sessionState.loggedInUser.email}" /></p></div>
					<h:form id="logoutForm" prependId="false">
						<div style="margin-bottom:16px;">
							<p:commandButton id="logoutButton" value="Logout" action="#{auth.logout}" update=":authPanel, :userPanelOutput" />
						</div>
					</h:form>
					
					<h:form id="passwordChangeForm" prependId="false" binding="#{auth.passwordChangeForm}">
						<p:messages id="passwordChangeMessages" for="passwordChangeForm" />
						<p:panel id="changePasswordPanel" header="Change Password">
							<h:panelGrid columns="3" cellspacing="3" style="margin-bottom:16px;">
								<p:outputLabel for="oldPassword" value="Current Password: " />
								<p:password id="oldPassword" value="#{auth.passwordChange.oldPassword}" style="width:300px;" />
								<p:message for="oldPassword" />
								
								<p:outputLabel for="newPassword" value="New Password: " />
								<p:password id="newPassword" value="#{auth.passwordChange.newPassword}" style="width:300px;" />
								<p:message for="newPassword" />
								
								<p:outputLabel for="newPasswordConfirm" value="New Password (again): " />
								<p:password id="newPasswordConfirm" value="#{auth.passwordChange.newPasswordConfirm}"
									style="width:300px;" binding="#{auth.newPasswordConfirm}" />
								<p:message for="newPasswordConfirm" />
							</h:panelGrid>
							
							<p:commandButton id="changePasswordButton" value="Change Password" action="#{auth.changePassword}" update=":authPanel"
								style="margin-right:8px;" />
							<p:commandButton id="cancelChangePasswordButton" value="Cancel" action="#{auth.cancelChangePassword}" update="@form" />
						</p:panel>
					</h:form>
				</ui:fragment>
			</p:outputPanel>
		</ui:define>
	</ui:composition>
</body>
</html>