<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">

		<ui:define name="body">
			<h2>Brewers</h2>
			<div class="biggerText">
				<p>
					Brewery:
					<h:outputText value="#{sessionState.activeBrewery.name}" />
				</p>
			
				<p:outputPanel id="brewerList">
					<ul>
						<ui:repeat value="#{brewers.brewers}" var="brewer">
							<li><h:outputText value="#{brewer.name}" /></li>
						</ui:repeat>
					</ul>
				</p:outputPanel>
			</div>
			
			<ui:fragment rendered="#{brewers.brewersWritable}">
				<p:accordionPanel id="editBrewersPanel" activeIndex="0" style="margin-bottom:16px;">
					<p:tab title="Add Brewer">
						<h:form id="addBrewerForm">
							<h:panelGrid columns="3">
								<h:outputLabel for="brewerName" value="Brewer Name: " />
								<p:inputText id="brewerName" value="#{brewers.newBrewer.name}" style="width:300px;" />
								<p:message for="brewerName"/>
								<f:facet name="footer">
									<p:commandButton value="Create" action="#{brewers.saveNewBrewer}" update="@form, :brewerList, :editBrewersPanel:modifyBrewerForm" />
								</f:facet>
							</h:panelGrid>
						</h:form>
					</p:tab>
					
					<p:tab title="Modify Brewer">
						<h:form id="modifyBrewerForm">
							<h:panelGrid columns="2">
								<h:outputText value="Select Brewer: " />
								<p:selectOneMenu id="selectEditBrewer" value="#{brewers.selectedEditBrewerId}" style="width:300px;">
									<f:selectItem value="#{brewers.noBrewerSelectedItem}"/>
									<f:selectItems value="#{brewers.brewersItems}" />
									<p:ajax update="@form" />
								</p:selectOneMenu>
							</h:panelGrid>
		
							<p:outputPanel id="modifyBrewerDetails" rendered="#{brewers.editedBrewer != null}" autoUpdate="true" >
								<h:panelGrid columns="3">
									<h:outputLabel for="editBrewerName" value="Brewer Name: " />
									<p:inputText id="editBrewerName" value="#{brewers.editedBrewer.name}" style="width:300px;" />
									<p:message for="editBrewerName" />
									<f:facet name="footer">
										<p:commandButton value="Update" action="#{brewers.updateBrewer}" update="@form, :brewerList"
											style="margin-right:8px;" />
										<p:commandButton value="Delete" action="#{brewers.deleteBrewer}" update="@form, :brewerList" />
									</f:facet>
								</h:panelGrid>
							</p:outputPanel>
						</h:form>
					</p:tab>
				</p:accordionPanel>
			</ui:fragment>
			
			<ui:fragment rendered="#{brewers.breweryUsersWritable}">
				<p:panel id="breweryUserPanel" header="Brewery Users">
					<h:form id="breweryUserForm" prependId="false">
						<p:dataTable id="breweryUserTable" value="#{brewers.breweryUsers}" var="user"
							selectionMode="single" selection="#{brewers.selectedBreweryUser}" style="margin-bottom:16px;">
							<p:ajax event="rowSelect" listener="#{brewers.selectBreweryUser}" update=":passwordChangeForm" />
							<p:column>
								<f:facet name="header">Email</f:facet>
								<h:outputText value="#{user.email}" />
							</p:column>
							<p:column>
								<f:facet name="header">Brewery</f:facet>
								<h:outputText value="#{user.brewery.name}" />
							</p:column>
							<p:column>
								<f:facet name="header">User Admin</f:facet>
								<h:outputText value="#{user.privUserAdmin}" />
							</p:column>
							<p:column>
								<f:facet name="header">Post News</f:facet>
								<h:outputText value="#{user.privPostNews}" />
							</p:column>
							<p:column>
								<f:facet name="header">Manage Photos</f:facet>
								<h:outputText value="#{user.privManagePhotos}" />
							</p:column>
						</p:dataTable>
						<div style="margin-bottom:16px;">
							<p:commandButton id="deleteBreweryUserButton" value="Delete Selected User" type="button" onclick="confirmDeleteDialog.show()" />
						</div>
						
						<p:confirmDialog id="confirmDeleteDialogElement" widgetVar="confirmDeleteDialog" severity="alert"
							header="Delete Brewery User"
							message="Will delete user #{brewers.selectedBreweryUser.email}. Continue?">
							<p:commandButton id="deleteConfirmButton" value="Delete User" action="#{brewers.deleteSelectedUser}" update="@form, :passwordChangeForm" />
							<p:commandButton id="deleteCancelButton" value="Cancel" onclick="confirmDeleteDialog.hide()" type="button" />
						</p:confirmDialog>
					</h:form>
					<h:form id="passwordChangeForm" prependId="false">
						<p:panel header="Change Password" id="passwordChangePanel" rendered="#{brewers.selectedBreweryUser != null}" style="margin-bottom:16px;">
							<h3>Change password for <h:outputText value="#{brewers.selectedBreweryUser.email}" /></h3>
							<h:panelGrid columns="3" cellspacing="3" style="margin-bottom:16px;">
								<p:outputLabel for="changeNewPassword" value="New Password: " />
								<p:password id="changeNewPassword" value="#{brewers.passwordChange.newPassword}" style="width:300px;" />
								<p:message for="changeNewPassword" />
								
								<p:outputLabel for="changeNewPasswordConfirm" value="New Password (again): " />
								<p:password id="changeNewPasswordConfirm" value="#{brewers.passwordChange.newPasswordConfirm}" style="width:300px;"
									binding="#{brewers.changeNewPasswordConfirm}" />
								<p:message for="changeNewPasswordConfirm" />
							</h:panelGrid>
							
							<div style="margin-bottom:16px;">
								<p:commandButton id="changePasswordButton" value="Change Password" action="#{brewers.changePassword}" update="@form" />
							</div>
						</p:panel>
					</h:form>
					
					<h:form id="createBreweryUserForm" prependId="false">
						<p:panel id="createBreweryUserPanel" header="Create Brewery User">
							<p>Brewery: <h:outputText value="#{sessionState.activeBrewery.name}" /></p>
							<h:panelGrid columns="3" cellspacing="3" style="margin-bottom:16px;">
								<p:outputLabel for="newBreweryUserEmail" value="Email: " />
								<p:inputText id="newBreweryUserEmail" value="#{brewers.newBreweryUser.email}" style="width:300px;" />
								<p:message for="newBreweryUserEmail" />
								
								<p:outputLabel for="newUserPassword" value="New User Password: " />
								<p:password id="newUserPassword" value="#{brewers.newUserPassword.newPassword}" style="width:300px;" />
								<p:message for="newUserPassword" />
								
								<p:outputLabel for="newUserPasswordConfirm" value="New User Password (again): " />
								<p:password id="newUserPasswordConfirm" value="#{brewers.newUserPassword.newPasswordConfirm}" style="width:300px;"
									binding="#{brewers.newUserPasswordConfirm}" />
								<p:message for="newUserPasswordConfirm" />
							</h:panelGrid>
							<h:panelGrid columns="2" cellspacing="3" style="margin-bottom:16px;">
								<p:selectBooleanCheckbox id="newUserPrivUserAdmin" value="#{brewers.newBreweryUser.privUserAdmin}" />
								<p:outputLabel for="newUserPrivUserAdmin" value="Privilege: User Administration" />
								
								<p:selectBooleanCheckbox id="newUserPrivPostNews" value="#{brewers.newBreweryUser.privPostNews}" />
								<p:outputLabel for="newUserPrivPostNews" value="Privilege: Post News" />
								
								<p:selectBooleanCheckbox id="newUserPrivManagePhotos" value="#{brewers.newBreweryUser.privManagePhotos}" />
								<p:outputLabel for="newUserPrivManagePhotos" value="Privilege: Manage Photos" />
							</h:panelGrid>
							<p:commandButton id="createBreweryUserButton" value="Create User" action="#{brewers.createBreweryUser}"
								update="@form, :breweryUserForm" style="margin-right:8px;"/>
							<p:commandButton id="resetNewBreweryUserButton" value="Reset Form" action="#{brewers.resetNewBreweryUser}"
								update="@form" immediate="true" onclick="document.getElementById('createBreweryUserForm').reset()" />
						</p:panel>
					</h:form>
					
					<p:growl sticky="false" life="4000" globalOnly="true" autoUpdate="true" showDetail="false" />
				</p:panel>
			</ui:fragment>
		</ui:define>
	</ui:composition>
</body>
</html>
