<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	contentType="text/html"
	renderKitId="PRIMEFACES_MOBILE">
	
	<pm:page title="Cervisium">
		<pm:view id="main">
			<pm:header title="Cervisium" />
			<pm:content>
				<p style="padding-bottom:16px;">Welcome to the Cervisium brewery! Select a section from the links below:</p>
				<p:dataList>
					<h:outputLink value="#recipeList">Recipe List</h:outputLink>
				</p:dataList>
			</pm:content>
		</pm:view>
		
		<pm:view id="recipeList">
			<pm:header title="Recipe List">
				<f:facet name="left"><p:button value="Back" icon="back" href="#main?reverse=true"/></f:facet>
			</pm:header>
			<pm:content>
				<p:dataList value="#{recipeList.recipes}" var="recipe">
					<h:outputText value="#{recipe.name}" />
				</p:dataList>
			</pm:content>
		</pm:view>
	</pm:page>
</f:view>
