<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<f:metadata>
			<f:viewParam name="id" value="#{brewingEditor.editBrewingId}" />
			<s:viewAction action="#{brewingEditor.loadBrewing}" />
		</f:metadata>
		
		<ui:define name="body">
			<style type="text/css">
				.inpSize { width: 180px; }
			</style>
		
		
			<h:link styleClass="breadcrumbLink" outcome="/recipes/formulation?faces-redirect=true" >
				&lt;- Back To <h:outputText value="#{brewingEditor.editedBrewing.formulation.recipe.name}" /> -
				<h:outputText value="#{brewingEditor.editedBrewing.formulation.name}" />
				<f:param name="id" value="#{brewingEditor.editedBrewing.formulation.id}" />
			</h:link>
			<p:panel id="editBrewingPanel" header="Edit Brewing">
				<h:form id="editBrewingForm" prependId="false">
					<h3>
						Brewing of
						<h:outputText value="#{brewingEditor.editedBrewing.formulation.recipe.name}" /> -
						<h:outputText value="#{brewingEditor.editedBrewing.formulation.name}" />
					</h3>
					
					<h4>Stage: <h:outputText value="#{brewingEditor.editedBrewing.brewStage.stageName}" /></h4>
					
					<h:panelGrid columns="3" cellpadding="3" style="margin-bottom:16px;">
						<p:outputLabel for="dateBrew" value="Brew Date: " />
						<p:calendar id="dateBrew" mode="popup" value="#{brewingEditor.editedBrewing.dateBrew}"
							pattern="yyyy-MM-dd" readonlyInput="true" navigator="true" styleClass="inpSize"
							readonly="#{brewingEditor.writable == false}" />
						<p:message for="dateBrew" />
						
						<p:outputLabel for="dateSecondary" value="Secondary Date: " />
						<p:calendar id="dateSecondary" mode="popup" value="#{brewingEditor.editedBrewing.dateSecondary}"
							pattern="yyyy-MM-dd" readonlyInput="false" navigator="true" styleClass="inpSize"
							readonly="#{brewingEditor.writable == false}" />
						<p:message for="dateSecondary" />
						
						<p:outputLabel for="dateKeg" value="Keg Date: " />
						<p:calendar id="dateKeg" mode="popup" value="#{brewingEditor.editedBrewing.dateKeg}"
							pattern="yyyy-MM-dd" readonlyInput="false" navigator="true" styleClass="inpSize"
							readonly="#{brewingEditor.writable == false}" />
						<p:message for="dateKeg" />
						
						<p:outputLabel for="dateBottle" value="Bottle Date: " />
						<p:calendar id="dateBottle" mode="popup" value="#{brewingEditor.editedBrewing.dateBottle}"
							pattern="yyyy-MM-dd" readonlyInput="false" navigator="true" styleClass="inpSize"
							readonly="#{brewingEditor.writable == false}" />
						<p:message for="dateBottle" />
						
						<p:outputLabel for="dateFinish" value="Finish Date: " />
						<p:calendar id="dateFinish" mode="popup" value="#{brewingEditor.editedBrewing.dateFinish}"
							pattern="yyyy-MM-dd" readonlyInput="false" navigator="true" styleClass="inpSize"
							readonly="#{brewingEditor.writable == false}" />
						<p:message for="dateFinish" />
					</h:panelGrid>
					<h:panelGrid columns="6" cellpadding="3" style="margin-bottom:16px;">
						<p:outputLabel for="mashTempF" value="Mash Temp (°F): " />
						<p:inputText id="mashTempF" value="#{brewingEditor.editedBrewing.mashTempF}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="mashTempF" />
						
						<p:outputLabel for="og" value="Original Gravity: " />
						<p:inputText id="og" value="#{brewingEditor.editedBrewing.og}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="og" />
						
						<p:outputLabel for="fg" value="Final Gravity: " />
						<p:inputText id="fg" value="#{brewingEditor.editedBrewing.fg}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="fg" />
						
						<p:outputLabel for="efficiency" value="Efficiency (%): " />
						<p:inputText id="efficiency" value="#{brewingEditor.editedBrewing.efficiencyPct}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="efficiency" />
						
						<p:outputLabel for="attenuationApp" value="App. Attenuation (%): " />
						<p:inputText id="attenuationApp" value="#{brewingEditor.editedBrewing.attenuationAppPct}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="attenuationApp" />
						
						<p:outputLabel for="attenuationReal" value="Real Attenuation (%): " />
						<p:inputText id="attenuationReal" value="#{brewingEditor.editedBrewing.attenuationRealPct}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="attenuationReal" />
						
						<p:outputLabel for="ibu" value="IBU: " />
						<p:inputText id="ibu" value="#{brewingEditor.editedBrewing.ibu}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="ibu" />
						
						<p:outputLabel for="srm" value="SRM: " />
						<p:inputText id="srm" value="#{brewingEditor.editedBrewing.srm}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="srm" />
						
						<p:outputLabel for="abv" value="Alc. By Volume (%): " />
						<p:inputText id="abv" value="#{brewingEditor.editedBrewing.abvPct}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="abv" />
						
						<p:outputLabel for="calsPint" value="Cals / Pint: " />
						<p:inputText id="calsPint" value="#{brewingEditor.editedBrewing.calsPint}" styleClass="inpSize"
							 readonly="#{brewingEditor.writable == false}" />
						<p:message for="calsPint" />
					</h:panelGrid>
					
					<p>Brew Notes:</p>
					<p:inputTextarea id="brewNotes" value="#{brewingEditor.brewingNotes.brewNotes}" style="width:850px;height:130px;margin-bottom:8px;"
						readonly="#{brewingEditor.writable == false}" autoResize="false" />
						
					<p>Taste Notes:</p>
					<p:inputTextarea id="tasteNotes" value="#{brewingEditor.brewingNotes.tasteNotes}" style="width:850px;height:130px;margin-bottom:16px;"
						readonly="#{brewingEditor.writable == false}" autoResize="false" />
					
					<ui:fragment rendered="#{brewingEditor.writable}">
						<p:commandButton id="saveBrewingButton" value="Save Brewing" action="#{brewingEditor.saveBrewing}" update="@form" style="margin-right:8px;"/>
						<p:commandButton id="refreshBrewingButton" value="Revert Changes" action="#{brewingEditor.refreshBrewing}" update="@form" style="margin-right:8px;" />
						<p:commandButton id="deleteButton" value="Delete Brewing" type="button" onclick="confirmDeleteDialog.show()" />
					</ui:fragment>
					
					<h3>BeerTools Data File</h3>
					<p:outputPanel id="dataFilePanel">
						<h:outputText value="No BeerTools file associated with this brewing." rendered="#{brewingEditor.brewingFileExists == false}"/>
						<h:outputLink value="/site/downloadRecipe/brewing?id=#{brewingEditor.editedBrewing.id}"
							rendered="#{brewingEditor.brewingFileExists == true}">
							Download BeerTools File
						</h:outputLink>
					</p:outputPanel>
					
					<ui:fragment rendered="#{brewingEditor.writable}">
						<h3>Upload BeerTools File</h3>
						<p>If you choose to import values from the uploaded BeerTools file, those
						values will replace any you have entered manually.</p>
						<h:panelGrid columns="2" style="margin-bottom:8px;">
							<h:outputText value="Import new values from uploaded file: " />
							<p:selectBooleanCheckbox id="importNewValues" value="#{brewingEditor.importNewValues}">
								<p:ajax />
							</p:selectBooleanCheckbox>
						</h:panelGrid>
						<p:fileUpload id="brewingFileUpload" allowTypes="/\.btp$/" sizeLimit="2097152"
							fileUploadListener="#{brewingEditor.uploadListener}" update="@form" process="importNewValues" />
					</ui:fragment>
						
					<p:growl id="globalGrowl" sticky="false" globalOnly="true" life="2500" autoUpdate="true" />
					
					<p:confirmDialog id="confirmDeleteDialogElement" widgetVar="confirmDeleteDialog" severity="alert"
						header="Delete Brewing"
						message="Deleting a brewing will also delete any BeerTools file stored for the brewing. Continue?">
						<p:commandButton id="deleteConfirmButton" value="Delete Brewing" action="#{brewingEditor.deleteBrewing}" ajax="false" />
						<p:commandButton id="deleteCancelButton" value="Cancel" onclick="confirmDeleteDialog.hide()" type="button" />
					</p:confirmDialog>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:composition>
</body>
</html>