<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Cervisium - Home Brewing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <h:outputStylesheet name="style-201208141617.css" library="css" />
    <h:outputStylesheet name="style-mobile-201208162114.css" library="css" media="screen and (max-device-width: 960px)" />
</h:head>

<h:body>
	<div id="contentNoPadding">
		<p:outputPanel id="userPanelOutput" layout="block">
			<div id="userPanel">
				<table id="userPanelTable">
					<tr>
						<td style="width:100%;">
							<ui:fragment rendered="#{sessionState.loggedIn == false}">
								<h:link outcome="/auth">Login</h:link>
							</ui:fragment>
							
							<ui:fragment rendered="#{sessionState.loggedIn == true}">
								<h:link outcome="/auth">Account</h:link> |
								<h:link outcome="/brewers">Manage Brewers</h:link>
								<ui:fragment rendered="#{sessionState.loggedInUser.privManagePhotos}">
									| <h:link outcome="/photo/manage">Photo Library</h:link>
								</ui:fragment>
								<ui:fragment rendered="#{sessionState.loggedInUser.privPostNews}">
									| <h:link outcome="/news/manage" value="Manage News" />
								</ui:fragment>
							</ui:fragment>
							
							<ui:insert name="menuItems"></ui:insert>
						</td>
						<td>
							<ui:fragment rendered="#{sessionState.loggedIn == false}">
								Browsing as guest.
							</ui:fragment>
							<ui:fragment rendered="#{sessionState.loggedIn == true}">
								Logged in as <h:outputText value="#{sessionState.loggedInUser.email}" />
							</ui:fragment>
						</td>
					</tr>
				</table>
			</div>
		</p:outputPanel>
		<div id="largeHeader">
			<h:link outcome="/index" styleClass="sectionLink">
				<h:graphicImage library="img" name="linkAbout.png" alt="About Section" />
			</h:link>
			<h:link outcome="/news/index" styleClass="sectionLink">
				<h:graphicImage library="img" name="linkNews.png" alt="News Section" />
			</h:link>
			<h:link outcome="/recipes/index" styleClass="sectionLink">
				<h:graphicImage library="img" name="linkRecipes.png" alt="Recipe List" />
			</h:link>
			<h:link outcome="/inventory" styleClass="sectionLink">
				<h:graphicImage library="img" name="linkInventory.png" alt="Inventory" />
			</h:link>
		</div>
		<div id="content">
        	<ui:insert name="body">Content</ui:insert>
        </div>
    </div>
    <div id="contentBackground"></div>
</h:body>
</html>
