<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<f:metadata>
			<f:viewParam name="id" value="#{newsEditor.editItemId}" />
			<s:viewAction action="#{newsEditor.loadNewsItem}" />
		</f:metadata>
		<ui:define name="body">
			<h2>
				<h:outputText value="Edit" rendered="#{newsEditor.editItemId ge 0}" />
				<h:outputText value="Create" rendered="#{newsEditor.editItemId lt 0}" />
				News Item
			</h2>
			<h:form id="newsItemForm" prependId="false">
				<p:panel id="metaPanel" style="margin-bottom:16px;">
					<h:panelGrid columns="3" cellspacing="3" style="margin-bottom:16px;">
						<p:outputLabel for="heading" value="Heading: " />
						<p:inputText id="heading" value="#{newsEditor.editedItem.heading}" style="width:300px;" />
						<p:message for="heading" />
						
						<p:outputLabel for="postDate" value="Post Date: " />
						<p:calendar id="postDate" value="#{newsEditor.editedItem.postDate}" pattern="yyyy-MM-dd h:mm a" />
						<p:message for="postDate" />
					</h:panelGrid>
					<p:commandButton id="saveNewsItemButton" value="Save" action="#{newsEditor.saveNewsItem}" style="margin-right:8px;" />
					<p:commandButton id="deleteNewsItemButton" value="Delete" onclick="confirmDeleteDialog.show()" type="button"
						rendered="#{newsEditor.editedItem.id != null}" />
				</p:panel>
				<p:editor id="contentEditorComponent" widgetVar="contentEditor" value="#{newsEditor.editedItem.contents}"
					width="892" height="400" />
					
				<p:confirmDialog id="confirmDeleteComponent" widgetVar="confirmDeleteDialog" header="Delete News Item?"
					message="This will delete the current news item. This cannot be undone. Continue?">
					<p:commandButton id="deleteNewsItemConfirmButton" value="Delete" action="#{newsEditor.deleteNewsItem}" style="margin-right:8px;" />
					<p:commandButton id="deleteNewsItemCancelButton" value="Cancel" onclick="confirmDeleteDialog.hide()" type="button" />
				</p:confirmDialog>
				
				<p:growl id="globalGrowl" life="4000" globalOnly="true" autoUpdate="true" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>