<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="menuItems">
			<ui:fragment rendered="#{sessionState.loggedInUser.privPostNews}">
				| <h:link id="addNewsItemLink" value="Add News Item" outcome="/news/edit">
					<f:param name="id" value="-1" />
				</h:link>
			</ui:fragment>
		</ui:define>

		<ui:define name="body">
			<h2>Manage News Feed</h2>
			<h:form id="manageNewsForm" prependId="false">
				<p:dataTable id="manageNewsTable" value="#{newsManager.newsItems}" var="item" styleClass="linkList">
					<f:facet name="header">News Items</f:facet>
					<p:column>
						<f:facet name="header">Heading</f:facet>
						<h:link outcome="/news/edit?faces-redirect=true">
							<f:param name="id" value="#{item.id}" />
							<h:outputText value="#{item.heading}" />
						</h:link>
					</p:column>
					<p:column>
						<f:facet name="header">Post Date</f:facet>
						<h:link outcome="/news/edit?faces-redirect=true">
							<f:param name="id" value="#{item.id}" />
							<h:outputText value="#{item.postDate}">
								<f:convertDateTime type="both" pattern="yyyy-MM-dd h:mm a" />
							</h:outputText>
						</h:link>
					</p:column>
				</p:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>