<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="body">
			<f:metadata>
				<f:viewParam name="id" value="#{albumEditor.editAlbumId}" />
				<s:viewAction action="#{albumEditor.loadAlbum}" />
			</f:metadata>
			
			<h:outputStylesheet library="css" name="photoalbum-201208191447.css" />
		
			<h2>Photo Album</h2>
			<h:form id="albumForm" prependId="false">
				<p:panel id="albumPanel" style="margin-bottom:16px;">
					<h:panelGrid columns="3" cellspacing="3" style="margin-bottom:16px;">
						<p:outputLabel for="albumName" value="Name: " />
						<p:inputText id="albumName" value="#{albumEditor.editedAlbum.name}" style="width:300px;" />
						<p:message for="albumName" />
						<p:outputLabel for="addedTime" value="Added: " />
						<p:calendar id="addedTime" value="#{albumEditor.editedAlbum.addedTime}" readonlyInput="true"
							pattern="yyyy-MM-dd h:mm a" />
						<p:message for="addedTime" />
					</h:panelGrid>
					
					<p:commandButton id="saveAlbumButton" value="Save Album" action="#{albumEditor.saveAlbum}" update="@form"
						style="margin-right:8px;" />
					<p:commandButton id="deleteAlbumButton" value="Delete Album" type="button" onclick="confirmDeleteDialog.show()" />
				</p:panel>
				
				<p:confirmDialog id="confirmDeleteDialogElement" widgetVar="confirmDeleteDialog" severity="alert"
					header="Delete Album"
					message="Deleting an album will delete all photos contained within. Continue?">
					<p:commandButton id="deleteConfirmButton" value="Delete Album" action="#{albumEditor.deleteAlbum}" ajax="false" />
					<p:commandButton id="deleteCancelButton" value="Cancel" onclick="confirmDeleteDialog.hide()" type="button" />
				</p:confirmDialog>
			</h:form>
			
			<h:form id="photoForm" prependId="false">
				<p:panel id="photoPanel" header="Photos" rendered="#{albumEditor.editedAlbum.id != null}" style="margin-bottom:16px;">
					<p:outputPanel id="photoPanelOutput" layout="block" style="margin-bottom:16px;">
						<ui:repeat var="photo" value="#{albumEditor.editedAlbum.photos}">
							<p:commandLink action="#{albumEditor.photoClickListener}" styleClass="photoItem"
								update=":photoForm:viewImageDialogElement" oncomplete="viewImageDialog.show()">
								<f:setPropertyActionListener target="#{albumEditor.selectedPhotoIdStr}" value="#{photo.id}" />
								<ui:fragment rendered="#{photo.thumbnail != null}">
									<img src="#{albumEditor.photoURLPrefix}#{albumEditor.editedAlbum.folder}/#{photo.thumbnail}" alt="thumbnail" />
								</ui:fragment>
								<h:graphicImage library="img" name="nothumb.png" rendered="#{photo.thumbnail == null}" />
							</p:commandLink>
						</ui:repeat>
						<div style="clear:both;"></div>
					</p:outputPanel>
					
					<p:commandButton id="rethumbButton" value="Regenerate Thumbnails" action="#{albumEditor.rethumbAlbum}" />
				</p:panel>
				
				<p:dialog id="viewImageDialogElement" widgetVar="viewImageDialog" header="Image Details" position="center">
					<ui:fragment rendered="#{albumEditor.selectedPhoto != null}">
						<div class="dialogImageHolder">
							<img src="#{albumEditor.photoURLPrefix}#{albumEditor.editedAlbum.folder}/#{albumEditor.selectedPhoto.fileName}"
								alt="#{albumEditor.selectedPhoto.fileName}" class="dialogImage" />
						</div>
						<h:panelGrid columns="3" style="margin-bottom:16px;">
							<h:outputText value="Image URL:" />
							<h:outputText value="#{albumEditor.photoURLPrefix}#{albumEditor.editedAlbum.folder}/#{albumEditor.selectedPhoto.fileName}" />
							<h:outputText value=" " />
							
							<p:outputLabel for="editPhotoTag" value="Tag:" />
							<p:inputText id="editPhotoTag" value="#{albumEditor.selectedPhoto.tag}" style="width:260px;" />
							<p:message for="editPhotoTag" />
							
							<p:outputLabel for="editPhotoResizeMaxDim" value="Resize To Px Max:" />
							<p:selectOneMenu id="editPhotoResizeMaxDim" value="#{albumEditor.resizeMaxDim}" editable="true">
								<f:selectItem itemLabel="860" itemValue="860"/>
								<f:selectItem itemLabel="430" itemValue="430"/>
							</p:selectOneMenu>
							<p:message for="editPhotoResizeMaxDim" />
						</h:panelGrid>
					</ui:fragment>
					<p:commandButton id="editPhotoSave" value="Save Changes" action="#{albumEditor.saveSelectedPhoto}" style="margin-right:8px;" />
					<p:commandButton id="editPhotoResize" value="Resize Image" action="#{albumEditor.resizeSelectedPhoto}"
						update=":photoForm:viewImageDialogElement" style="margin-right:8px;" />
					<p:commandButton id="editPhotoDelete" value="Delete Photo" action="#{albumEditor.deleteSelectedPhoto}"
						update=":photoForm" oncomplete="viewImageDialog.hide()" style="margin-right:8px;" />
					<p:commandButton id="closeImageDialogButton" value="Close" type="button" onclick="viewImageDialog.hide()" />
				</p:dialog>
			</h:form>
			
			<h:form id="uploadForm" prependId="false">
				<p:panel id="uploadPanel" header="Upload Photos" rendered="#{albumEditor.editedAlbum.id != null}">
					<p:fileUpload id="photoUploader" fileUploadListener="#{albumEditor.fileUploadListener}" sizeLimit="6291456"
						allowTypes="/\.(jpg|png|JPG|PNG)$/" multiple="true" mode="advanced" update=":photoForm:photoPanelOutput" />
				</p:panel>
			</h:form>
			
			<p:growl id="globalGrowl" globalOnly="true" life="4000" sticky="false" autoUpdate="true" />
		</ui:define>
	</ui:composition>
</body>
</html>