<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<f:metadata>
			<f:viewParam name="id" value="#{formulationEditor.editFormulationId}" />
			<f:viewParam name="recipeId" value="#{formulationEditor.newFormulationRecipeId}" />
			<s:viewAction action="#{formulationEditor.loadFormulation}" />
		</f:metadata>
		<ui:define name="body">
			<h:link styleClass="breadcrumbLink" outcome="/recipes/edit?faces-redirect=true" >
				&lt;- Back To <h:outputText value="#{formulationEditor.editedFormulation.recipe.name}" />
				<f:param name="id" value="#{formulationEditor.editedFormulation.recipe.id}" />
			</h:link>
			<p:panel id="formulationPanel" header="Recipe Formulation" style="margin-bottom:16px;">
				<h:form id="editForumlationForm">
					<h3><h:outputText value="#{formulationEditor.editedFormulation.recipe.name}" /> - Formulation</h3>
					<h:panelGrid columns="3" cellspacing="3" style="margin-bottom:8px;">
						<h:outputLabel for="formulationName" value="Name: " />
						<p:inputText id="formulationName" value="#{formulationEditor.editedFormulation.name}" style="width:450px;"
							readonly="#{formulationEditor.writable == false}" />
						<p:message for="formulationName" />
						
						<h:outputLabel for="formulationDescription" value="Description: " />
						<p:inputText id="formulationDescription" value="#{formulationEditor.editedFormulation.description}" style="width:450px;"
							readonly="#{formulationEditor.writable == false}" />
						<p:message for="formulationDescription" />
						
						<h:outputLabel for="targetSizeGallons" value="Target Size (Gallons): " />
						<p:inputText id="targetSizeGallons" value="#{formulationEditor.editedFormulation.targetSizeGallons}" style="width:100px;"
							readonly="#{formulationEditor.writable == false}" />
						<p:message for="targetSizeGallons" />
						
					</h:panelGrid>
					
					<p>Formulation Notes:</p>
					<p:inputTextarea id="formulationNotes" value="#{formulationEditor.notes}" style="width:850px;height:130px;margin-bottom:8px;"
						readonly="#{formulationEditor.writable == false}" autoResize="false" />
					
					<ui:fragment rendered="#{formulationEditor.writable}">
						<p:commandButton id="saveButton" value="Save Formulation"
							action="#{formulationEditor.saveFormulation}" update="@form, :brewingsPanel"
							style="margin-right:8px;" />
						<p:commandButton id="deleteButton" value="Delete Formulation" type="button" onclick="confirmDeleteDialog.show()" />
					</ui:fragment>
					
					<h3>Formulation BeerTools File</h3>
					<p:outputPanel id="btpDataPanel">
						<h:outputText value="No reference file attached to this formulation." rendered="#{formulationEditor.btpData == null}" />
						<p:dataTable id="ingredientTable" value="#{formulationEditor.btpData.parser.ingredients}"
							var="ingredient" rendered="#{formulationEditor.btpData != null}" style="margin-bottom:8px;">
							<f:facet name="header">Ingredients</f:facet>
							<p:column>
								<f:facet name="header">Name</f:facet>
								<h:outputText value="#{ingredient.name}" />
							</p:column>
							<p:column>
								<f:facet name="header">Quantity</f:facet>
								<h:outputText value="#{ingredient.displayQuantity}" />
							</p:column>
							<p:column>
								<f:facet name="header">Stage</f:facet>
								<h:outputText value="#{ingredient.stage.toString()}" />
							</p:column>
							<p:column>
								<f:facet name="header">Duration</f:facet>
								<h:outputText value="#{ingredient.displayBoilDuration}" />
							</p:column>
						</p:dataTable>
						
						<h:outputLink value="/site/downloadRecipe/formulation?id=#{formulationEditor.editedFormulation.id}"
							rendered="#{formulationEditor.editedFormulation.filePath != null}">
							Download BeerTools File
						</h:outputLink>
						
					</p:outputPanel>
					
					<ui:fragment rendered="#{formulationEditor.writable}">
						<h3>Upload Reference BeerTools File</h3>
						<p:fileUpload id="refFileUpload" allowTypes="/\.btp$/" sizeLimit="2097152" fileUploadListener="#{formulationEditor.uploadListener}" update="btpDataPanel" />
					</ui:fragment>
					
					<p:growl id="globalGrowl" sticky="false" globalOnly="true" life="2500" autoUpdate="true" />
					
					<p:confirmDialog id="confirmDeleteDialogElement" widgetVar="confirmDeleteDialog" severity="alert"
						header="Delete Formulation"
						message="Deleting a formulation will delete all associated brewings and any BeerTools files uploaded for this formulation. Continue?">
						<p:commandButton id="deleteConfirmButton" value="Delete Formulation" action="#{formulationEditor.deleteFormulation}" ajax="false" />
						<p:commandButton id="deleteCancelButton" value="Cancel" onclick="confirmDeleteDialog.hide()" type="button" />
					</p:confirmDialog>
				</h:form>
			</p:panel>
			
			<p:outputPanel id="brewingsPanel">
				<p:panel header="Brewings" rendered="#{formulationEditor.editedFormulation.id != null}">
					<p>Click a brewing in the list below to view details.</p>
					<p:dataTable id="brewingsTable" value="#{formulationEditor.editedFormulation.brewings}" var="brewing"
						styleClass="linkList" style="margin-bottom:8px;">
						<p:column>
							<f:facet name="header">Brew Date</f:facet>
							<h:link outcome="/recipes/brewings/edit?faces-redirect=true">
								<f:param name="id" value="#{brewing.id}" />
								<h:outputText value="#{brewing.dateBrew}" />
							</h:link>
						</p:column>
						<p:column>
							<f:facet name="header">Stage</f:facet>
							<h:link outcome="/recipes/brewings/edit?faces-redirect=true">
								<f:param name="id" value="#{brewing.id}" />
								<h:outputText value="#{brewing.brewStage.name}" />
							</h:link>
						</p:column>
					</p:dataTable>
					<ui:fragment rendered="#{formulationEditor.writable}">
						<p:button id="addBrewingButton" value="Add Brewing" outcome="/recipes/brewings/create?faces-redirect=true">
							<f:param name="formulationId" value="#{formulationEditor.editedFormulation.id}" />
						</p:button>
					</ui:fragment>
				</p:panel>
			</p:outputPanel>
		</ui:define>
	</ui:composition>
</body>
</html>