<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="menuItems">
			<ui:fragment rendered="#{sessionState.userActiveBreweryMember}">
				| <h:link outcome="/recipes/edit?faces-redirect=true" value="Add Recipe"><f:param name="id" value="-1" /></h:link>
			</ui:fragment>
		</ui:define>
	
		<ui:define name="body">
			<h2>Recipe List For Brewery <h:outputText value="#{sessionState.activeBrewery.name}" /></h2>
			
			<p>Click a recipe in the list below to view details and formulations.</p>
			
			<h:form id="recipeListForm">
				<p:dataTable id="recipeTable" value="#{recipeList.recipes}" var="recipe" styleClass="linkList">
					<p:column>
						<f:facet name="header">Name</f:facet>
						<h:link outcome="/recipes/edit?faces-redirect=true">
							<f:param name="id" value="#{recipe.id}" />
							<h:outputText value="#{recipe.name}" />
						</h:link>
					</p:column>
					<p:column>
						<f:facet name="header">Style</f:facet>
						<h:link outcome="/recipes/edit?faces-redirect=true">
							<f:param name="id" value="#{recipe.id}" />
							<h:outputText value="#{recipe.style}" />
						</h:link>
					</p:column>
					<p:column>
						<f:facet name="header">OG</f:facet>
						<h:link outcome="/recipes/edit?faces-redirect=true">
							<f:param name="id" value="#{recipe.id}" />
							<h:outputText value="#{recipe.targetOg}">
								<f:convertNumber pattern="#0.000" />
							</h:outputText>
						</h:link>
					</p:column>
					<p:column>
						<f:facet name="header">FG</f:facet>
						<h:link outcome="/recipes/edit?faces-redirect=true">
							<f:param name="id" value="#{recipe.id}" />
							<h:outputText value="#{recipe.targetFg}">
								<f:convertNumber pattern="#0.000" />
							</h:outputText>
						</h:link>
					</p:column>
					<p:column>
						<f:facet name="header">IBU</f:facet>
						<h:link outcome="/recipes/edit?faces-redirect=true">
							<f:param name="id" value="#{recipe.id}" />
							<h:outputText value="#{recipe.targetIBU}" />
						</h:link>
					</p:column>
					<p:column>
						<f:facet name="header">SRM</f:facet>
						<h:link outcome="/recipes/edit?faces-redirect=true">
							<f:param name="id" value="#{recipe.id}" />
							<h:outputText value="#{recipe.targetSRM}" />
						</h:link>
					</p:column>
				</p:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>