@CHARSET "ISO-8859-1";

div.invItem {
	padding: 0px;
	margin: 24px 0px;
	border-radius: 6px;
}

div.invItem h3 {
	margin: 6px 0px;
}

div.invItem a {
	color: inherit;
	text-decoration: none;
}

div.invItem a:VISITED {
	color: inherit;
	text-decoration: none;
}

div.invItem a:HOVER {
	color: #d78b29;
}

table.invItemTable tbody tr td {
	min-width: 100px;
}

div.invItemImg {
	float: left;
	margin-right: 24px;
}

div.invItemDetail {
	float: left;
	clear: right;
}

div.invItemImg img {
	background: url("/site/faces/javax.faces.resource/images/ui-bg_inset-soft_100_f4f0ec_1x100.png?ln=primefaces-cervisium") repeat-x scroll 50% bottom #F4F0EC;
	padding: 6px;
	border: 1px solid black;
	border-radius: 6px;
}