@CHARSET "ISO-8859-1";

a.photoItem {
	display: block;
	overflow: hidden;
	float: left;
	
	width: 128px;
	height: 96px;
	padding: 8px;
	margin: 8px;
	border: none;
}

a.photoItem:HOVER {
	outline: 1px solid #444444;
}

div.dialogImageHolder {
	width: 640px;
	height: 500px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
}

img.dialogImage {
	display: block;
	width: 600px;
	margin: auto;
	padding: 0;
}