@CHARSET "ISO-8859-1";

html, body {
	margin: 0px;
	padding: 0px;
	border: none;
}

body {
	background-image: url('../../resources/img/grainbg-1900.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 14px;
}

#contentBackground {
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -481px;
	
	width: 960px;
	height: 100%;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.85);
	
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#userPanel {
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -481px;
	z-index: 1;
	width: 930px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	
	padding: 8px 16px;
	
	font-family: Verdana, sans-serif;
	font-size: 1em;
}

#userPanel a {
	color: #FFFFFF;
	text-decoration: none;
}

#userPanel a:VISITED {
	color: #FFFFFF;
	text-decoration: none;
}

#userPanel a:HOVER {
	color: #d78b29;
	text-decoration: none;
}

#userPanelTable {
	maring: 0;
	padding: 0;
	border: none;
	border-collapse: collapse;
	white-space: nowrap;
}

#contentNoPadding {
	margin: auto;
	width: 960px;
}

#content {
	color: #EEEEEE;
	font-family: Tahoma, sans-serif;
	width: 896px;
	padding: 16px 32px;
}

#largeHeader {
	background-image: url('../../resources/img/largeheader.png');
	width: 936px;
	height: 236px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0px;
	padding-left: 24px;
}

#sectionMenu {
	border-bottom: 1px solid #d78b29;
}

a.sectionLink img {
	border: none;
	height: 36px;
	margin: 192px 16px 0px 0px;
}

a.sectionLink img:HOVER {
	border: 6px solid black;
	border-radius: 6px;
	margin: 186px 10px -6px -6px;
}

a.sectionLink:VISITED img {
	border: none;
}

a.sectionLink:VISITED img:HOVER {
	border: 6px solid black;
	border-radius: 6px;
	margin: 150px 10px -6px -6px;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
	color: #DDDDDD;
	padding-bottom: 6px;
	margin: 8px 0px;
	border-bottom: 1px dotted #d78b29;
}

table.recipeTable {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	background-color: none; 
}

table.recipeTable thead tr, table.recipeTable tbody tr {
	background-color: rgba(255, 255, 255, 0.25);
}

table.recipeTable tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

table.recipeTable thead tr {
	border-bottom: 1px solid black;
}

table.recipeTable thead tr th {
	text-align: left;
	padding: 6px 12px;
}

table.recipeTable tbody tr td {
	text-align: left;
	padding: 4px 12px;
}

table.recipeTable tbody tr td a {
	font-size: 1em;
	color: #d78b29;
}

a.breadcrumbLink {
	font-size: 1.2em;
	display: inline-block;
	margin-bottom: 8px;
	color: #d78b29;
}

a {
	color: #d78b29;
}

a:VISITED {
	color: #d78b29;
}

a.breadcrumbLink:visited {
	color: #d78b29;
}

div.biggerText {
	font-size: 1.2em;
}

.linkList  a {
	display: block;
	text-decoration: none;
	color: inherit;
	margin: -4px -10px;
	padding: 4px 10px;
}

.linkList tr:HOVER {
	background: #f5f0e5 url("#{resource['primefaces-cervisium:images/ui-bg_glass_100_f5f0e5_1x400.png']}") 50% 50% repeat-x;
	color: #a46313;
}