@CHARSET "ISO-8859-1";

body {
	background: url('../../resources/img/mobilebg.jpg') black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 14px;
}

@media screen and (orientation:portrait) {
	body {
		background: url('../../resources/img/mobilebg-portrait.jpg') black;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-size: 14px;
	}
}

#contentBackground {
	display: none;
}

#userPanel {
	position: relative;
	top: auto;
	left: auto;
	margin-left: 0px;
	z-index: auto;
	width: auto;
	height: 20px;
	background-color: #000000;
	color: #FFFFFF;
	
	padding: 8px 16px;
	
	font-family: Verdana, sans-serif;
	font-size: 1em;
}